@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HappyTesterWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HappyTesterWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-info bg-primary border-bottom box-shadow mb-3 sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">HappyTesterWeb</a>
@*                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav me-auto">
   
                         @if (User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                            @if (User.IsInRole("user"))
                            {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="user" asp-action="Index">Team</a>
                            </li>
                            }
                            else if (User.IsInRole("admin"))
                            {
                            <li>
                                <a class="nav-link ml-auto text-dark" asp-controller="Project" asp-action="Index">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Ticket" asp-action="Index">Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="user" asp-action="Index">Users</a>
                            </li>
                            }
                        }                      

                    </ul>
                    
                    <ul class="nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light ml-auto" asp-controller="Dashboard" asp-action="Profile">
                                Profile                
                            </a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a class="nav-link text-danger " asp-controller="Account" asp-action="Logout">Logout</a>
                        </li> 

                    }
                    else
                    {
 
                        <li class="nav-item">
                            <a class="nav-link text-light ml-auto" asp-controller="Account" asp-action="Login">Login</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link text-light ml-auto" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                    }
                  </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


  





@*<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HappyTesterWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HappyTesterWeb.styles.css" asp-append-version="true" />
</head>

<body>
     


   <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <!-- START Top Navbar-->
<nav class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">
            <div class="brand-logo">
                @*<img class="img-fluid" src="/assets/angle/logo-5a16ef7a67ed87823c16e33b7bd7f24cd24e6c33c0dafed488aab7dcf465338f.png" alt="App Logo">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">HappyTesterWeb</a>
                 
            </div>
        </a>

    </div>
    <!-- END navbar header-->
    <!-- START Left navbar-->
    <ul class="navbar-nav mr-auto flex-row">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            @if (User.IsInRole("user"))
            {
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="user" asp-action="Index">Team</a>
            </li>
            }
            else if (User.IsInRole("admin"))
            {
            <li>
                <a class="nav-link ml-auto text-dark" asp-controller="Project" asp-action="Index">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Ticket" asp-action="Index">Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="user" asp-action="Index">Users</a>
            </li>
            }
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-light ml-auto" asp-controller="Account" asp-action="Login">Home</a>
            </li>
        }
        
        
    </ul>
    <!-- END Left navbar-->
    <!-- START Right Navbar-->
    <ul class="navbar-nav flex-row">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-light ml-auto" asp-controller="Dashboard" asp-action="Profile">
                    Profile                
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger " asp-controller="Account" asp-action="Logout">Logout</a>
            </li> 

        }
        else
        {
 
            <li class="nav-item">
                <a class="nav-link text-light ml-auto" asp-controller="Account" asp-action="Login">Login</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link text-light ml-auto" asp-controller="Account" asp-action="Register">Register</a>
            </li>
        }
    </ul>
    <!-- END Right navbar-->

      </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
*@






